{% extends 'base.html' %}

{% block title %}
    Docs | 24n.me
{% endblock %}

{% block content %}
<!-- your content -->
<div class="row">
    <div class="col col-lg-6 mx-auto">
        <h1>Docs</h1>
        <h2>How to use</h2>
        <ol>
            <li>Write the name of a person</li>
            <li>Add a single 4 digit integer representing a year of the persons life (death/birth etc)</li>
        </ol>
        
<button class="btn btn-primary" onclick="location.href='{{ url_for('home') }}'">Home</button>
    </div>
</div>



     <!-- end of your content-->
{% endblock %}


