{% extends 'base.html' %}

{% block title %}
    Predict Geolocation | 24n.me
{% endblock %}

{% block content %}
<!-- your content -->
<div class="row">
  <div class="col col-lg-6 mx-auto">
    <h2>Try it!</h2>
    <form action="{{ url_for('predict') }}" method="POST">

      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.person_name.label }}
        {{ form.person_name(class="form-control") }}
        {% if form.person_name.errors %}
          <div class="invalid-feedback">
            {% for error in form.person_name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.year.label }}
        {{ form.year(class="form-control") }}
        {% if form.year.errors %}
          <div class="invalid-feedback">
            {% for error in form.year.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Predict Geolocation</button>
    </form>
    
    
  </div></div>
  <div class="row">
    <div class="col col-lg-6 mx-auto">
      <h2>What is this?</h2>
      <p>It's often the case that when we are researching a topic we stumble upon a single name or perhaps a list of names. We are given no other information. If we were able to effectively extrapolate from only this information, we would be able to take the next step in our research.</p>
      <h3>Use Cases</h3>
      <ul>
        <li>Researching family history</li>
        <li>Conducting an OSINT investigation</li>
        <li>Choosing a baby name</li>
        <li>Feature Engineering for ML</li>
        <li>Developing a character for fiction</li>
        <li>Fact-checking someones bio</li>
      </ul>
  </div>
  </div>
  <div class="row">
    <div class="col col-lg-6 mx-auto">
      <h2>Tech Stack</h2>
      <p>Our model is trained using the AutoML tool <a href="https://ludwig.ai/0.4/user_guide/automl/">Ludwig</a>.</p>
      <h2>Data Source(s)</h2>
      <p>Our core training data is based on <a href="https://data.sciencespo.fr/dataset.xhtml?persistentId=doi:10.21410/7E4/RDAG3O">this dataset</a></p>
    </div>
  </div>


  


     <!-- end of your content-->
{% endblock %}



